/* Custom fonts */

@font-face {
    font-family: 'Mondwest_Bold';
    src: url(fonts/PPMondwest-Bold.woff2) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Mondwest_Regular';
    src: url(fonts/PPMondwest-Regular.woff2) format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Montreal_Reg';
    src: url(fonts/PPNeueMontrealMono-Regular.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montreal_Reg_Italic';
    src: url(fonts/PPNeueMontrealMono-RegularItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Montreal_Bold';
    src: url(fonts/PPNeueMontrealMono-Bold.woff2) format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montreal_Medium';
    src: url(fonts/PPNeueMontrealMono-Medium.woff2) format('woff');
    font-weight: medium;
    font-style: normal;
}

/* --------------------------------------------- */

h1 {
    font-family: 'Mondwest_Bold', serif;
    font-size: 46px;
    text-align: center;
}

h3 {
    font-family: 'Mondwest_Bold', sans-serif;
    font-size: 25px;
}

footer {
    font-family: 'Mondwest_Regular', sans-serif;
    text-align: center;
    padding: 0px;
    background-color: lightslategray;
    color: black;
  }

  input[type=text] {
    font: 'Montreal_Bold', sans-serif;
  }

  .logout_button {
    font-family: 'Montreal_Bold', serif;
    color: black;
  }
  .entry_item {
    font-family: 'Montreal_Bold', serif;
    color: black;
  }

  .entry_card {
    position: relative;
    display: none;
}