/* Custom fonts */

@font-face {
    font-family: 'Mondwest_Bold';
    src: url(fonts/PPMondwest-Bold.woff2) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Mondwest_Regular';
    src: url(fonts/PPMondwest-Regular.woff2) format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Montreal_Reg';
    src: url(fonts/PPNeueMontrealMono-Regular.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montreal_Reg_Italic';
    src: url(fonts/PPNeueMontrealMono-RegularItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Montreal_Bold';
    src: url(fonts/PPNeueMontrealMono-Bold.woff2) format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montreal_Medium';
    src: url(fonts/PPNeueMontrealMono-Medium.woff2) format('woff');
    font-weight: medium;
    font-style: normal;
}

/* --------------------------------------------- */

body {
    min-height: 100vh;
    background-color: rgba(32, 32, 32, 1);
    color: white;
    margin: 0px;
    padding: 0px;
}

label {
    font-family: 'Montreal_Reg', sans-serif;
}

a {
    font-family: 'Montreal_Reg', sans-serif;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: gray;
}

input, textarea, select {
    font-family: 'Montreal_Reg', sans-serif;
    background-color: rgba(72, 72, 72, 1);
    color: rgb(185, 185, 185);
}

h1, #fancy_link {
    font-family: 'Mondwest_Bold', serif;
    font-size: 46px;
    text-align: center;
}

h3 {
    font-family: 'Mondwest_Bold', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Montreal_Reg', sans-serif;
    font-size: 16px;
}

footer {
    margin-top: auto;
    font-family: 'Mondwest_Regular', sans-serif;
    text-align: center;
    width: 100%;
    padding: 0px;
    background-color: lightslategray;
    color: black;
}

input[type=text] {
    font: 'Montreal_Bold', sans-serif;
}

#index_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

#add_password_div, #generate_password_div {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 33%;
    overflow: auto;
    word-wrap: break-word;
}

#user_entries {
    width: 100%;
    min-width: 500px;
}

.comment_text li {
    word-break: break-word;

}

#index_div > div form * {
    display: block;
}

.logout_button {
    font-family: 'Montreal_Bold', serif;
    color: black;
}

.entry_card {
    width: 100%;
    overflow: auto;
    word-break: break-all;
}

.password_div {
    display: flex;
    flex-direction: column;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#navbar a, #navbar p {
    margin-left: 20px;
}

#mail_button, #about_button, #logout_button {
    font-family: 'Montreal_Bold', serif;
    color: rgb(98, 98, 98);
}

#mail_button:hover, #about_button:hover, #logout_button:hover {
    color: white;
}

.entry_main {
    font-family: 'Montreal_Bold', serif;
    background-color: rgba(72, 72, 72, 1);
    color: rgb(185, 185, 185);
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
    transition: color 0.2s ease;
    text-align: left;
}

.entry_main:hover {
    color: rgba(32, 32, 32, 1);
    background-color: rgb(162, 157, 157);
}

.delete_entry, .password-button {
    font-family: 'Montreal_Bold', serif;
    background-color: rgb(190, 0, 0);
    color: rgb(185, 185, 185);
    font-size: 16px;
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
    transition: color 0.2s ease;
    text-align: left;
}

.delete_entry:hover, .password-button:hover {
    color: rgb(197, 197, 197);
    background-color: rgb(220, 0, 0);
}

.password-button {
    margin-top: 10px;
    background-color: rgb(60, 152, 95);
    color: rgba(32, 32, 32, 1);
}

.password-button:hover {
    background-color: rgb(80, 199, 126);
    color: rgba(32, 32, 32, 1);
}

#login_div, #reg_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_form, #reg_form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

#login_form input, #reg_form input {
    margin: 2px;
}

.entry_item {
    font-family: 'Mondwest_Bold', serif;
    font-size: 20px;
    color: rgb(162, 157, 157);
}

.entry_card {
    background-color: rgb(45, 45, 45);
    padding: 5px;
}

li {
    list-style-type: none;
    font-family: 'Montreal_Bold', sans-serif;
}

.comment_text, .password-text {
    height: auto;
    min-height: 100px;
}

#about_div {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Mondwest {
    font-family: 'Mondwest_Bold', serif;
    font-size: 22px;
}

#Neue_Montreal_Mono {
    font-family: 'Montreal_Bold', sans-serif;
    font-size: 17px;
}