/* Custom fonts */

@font-face {
    font-family: 'Mondwest_Bold';
    src: url(fonts/PPMondwest-Bold.woff2) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Mondwest_Regular';
    src: url(fonts/PPMondwest-Regular.woff2) format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Montreal_Reg';
    src: url(fonts/PPNeueMontrealMono-Regular.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montreal_Reg_Italic';
    src: url(fonts/PPNeueMontrealMono-RegularItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Montreal_Bold';
    src: url(fonts/PPNeueMontrealMono-Bold.woff2) format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montreal_Medium';
    src: url(fonts/PPNeueMontrealMono-Medium.woff2) format('woff');
    font-weight: medium;
    font-style: normal;
}

/* --------------------------------------------- */

body {
    background-color: rgba(32, 32, 32, 1);
    color: white;
    margin: 0px;
    padding: 0px;
}

label {
    font-family: 'Montreal_Reg', sans-serif;
}

a {
    font-family: 'Montreal_Reg', sans-serif;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: gray;
}

input, textarea, select {
    font-family: 'Montreal_Reg', sans-serif;
    background-color: rgba(72, 72, 72, 1);
    color: rgb(185, 185, 185);
}

h1 {
    font-family: 'Mondwest_Bold', serif;
    font-size: 46px;
    text-align: center;
}

h3 {
    font-family: 'Mondwest_Bold', sans-serif;
    font-size: 25px;
}

footer {
    font-family: 'Mondwest_Regular', sans-serif;
    text-align: center;
    width: 100%;
    padding: 0px;
    background-color: lightslategray;
    color: black;
  }

  input[type=text] {
    font: 'Montreal_Bold', sans-serif;
  }

  .logout_button {
    font-family: 'Montreal_Bold', serif;
    color: black;
  }
  .entry_item {
    font-family: 'Montreal_Bold', serif;
    color: black;
  }

  .entry_card {
    position: relative;
    display: none;
}

#header {
    position: fixed;
    padding-top: 5px;
    margin-right: 15px;
    top: 0;
    z-index: -1;
    text-align: right;
    width: 99%;
}

.entry_main {
    font-family: 'Montreal_Bold', serif;
    background-color: rgba(72, 72, 72, 1);
    color: rgb(185, 185, 185);
    font-size: 16px;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
    transition: color 0.2s ease;
}

.entry_main:hover {
    color: rgba(32, 32, 32, 1);
    background-color: rgb(162, 157, 157);
}

#login_div, #reg_div {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    min-height: 300px;
    padding: 50px;
}

#login_form, #reg_form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

#login_form input, #reg_form input {
    margin: 2px;
}