{% extends "password/layout.html" %}

{% block body %}
<div id="navbar">
    <a id="mail_button" href="mailto:viktor.lenard@gmail.com.com">Email</a>
    <a id="about_button" href="{% url 'about' %}">About</a>
    <a id="logout_button" href="{% url 'logout' %}">Logout as {{ request.user }}</a>
</div>

<h1><a id="fancy_link"href="{% url 'login' %}">½Password</a></h1>

<!--Script to handle the toggling of the passwords on the page. 
    Adds a function to all buttons when the DOM is loaded.
    The event listeners are listening for clicks on '.password-button's
    Once they are clicked, passwordId becomes the data-id which is the password.id
    passwordText will be the button's siblings text, which is the span after the button.
    If passwordText has text content, it means the password is showing already.
    A click will set the text content to an empty string, and change the button to 'Show Password'
    Otherwise (password is hidden), fetch with a GET request, get_password url, view with the same name.
    Once we have a response, the password becomes the text of the span, and we swap the button text
    to 'Hide Password'

    This script allows me to not render all user passwords in the HTML, which sounds like
    a good idea in terms of security.-->

<script>
    // This script handles toggling the entry cards on the page.
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('#entry_main_container').addEventListener('click', function(event) {
        var button = event.target.closest('.entry_main');
        if (button) {
            var passwordId = button.dataset.id;
            var card = document.querySelector('.entry_card[data-id="' + passwordId + '"]');
            if (card) {
                var display = window.getComputedStyle(card).display;
                if (display === 'none') {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
                }
            }
        });
    });
    // This script handles the toggling of the passwords within the entry cards.
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.password-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var passwordId = this.dataset.id;
                var passwordText = this.nextElementSibling;
                if (passwordText.textContent) {
                    passwordText.textContent = '';
                    this.textContent = 'Show Password';
                } else {
                    fetch('/password/get_password/' + passwordId)
                        .then(response => response.text())
                        .then(password => {
                            passwordText.textContent = password;
                            this.textContent = 'Hide Password';
                        });
                }
            });
        });
    });
    // This script handles the deletion of passwords on the page.
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('#entry_main_container').addEventListener('click', function(event) {
            var button = event.target.closest('.delete_entry');
            if (button) {
                event.stopPropagation(); // Stop event propagation
                var passwordId = button.dataset.id;
                fetch('/password/delete_password/' + passwordId)
                    .then(response => {
                        if (response.ok) {
                            // Select the entry card using the passwordId and remove it
                            var entryCard = document.querySelector('.entry_card[data-id="' + passwordId + '"]');
                            if (entryCard) {
                                entryCard.remove();
                            }
                            // Also remove the corresponding entry_main button
                            var entryMainButton = document.querySelector('.entry_main[data-id="' + passwordId + '"]');
                            if (entryMainButton) {
                                entryMainButton.remove();
                            }
                        } else {
                            console.error('Failed to delete password');
                    }
                });
            }
        });
    });
</script>

<!-- ------------------------------------------------------------------------------------------------------------ -->

<div id="index_div">
    <div id="user_entries">
        <h3>Your passwords</h3>
        <div id="entry_main_container">
            {% for password in user_passwords %}
                <button class="entry_main" data-id="{{ password.id }}">{{ password.name }}</button>
                <div class="entry_card" data-id="{{ password.id }}" style="display: none;">
                    <p class="entry_item">Name</p>
                    <li>{{ password.name }}</li>
                    <p class="entry_item">URL</p>
                    <li>{{ password.url }}</li>
                    <p class="entry_item">Username</p>
                    <li>{{ password.username }}</li>
                    <div class="password_div">
                    <li>
                        <button class="password-button" data-id="{{ password.id }}">Show Password</button>
                        <span class="password-text"></span>
                    </li>
                    </div>        
                    <p class="entry_item">Tag</p>
                    <li class="tag_color">{{ password.tags }}</li>
                    <p class="entry_item">Comment</p>
                    <div class="comment_text">
                    <li>{{ password.comment }}</li>
                    </div>
                    <button class="delete_entry" data-id="{{ password.id }}">Delete</button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="add_password_div">
        <h3>Generate Password</h3>
        <form method="POST" action="", id="generate_password_form">
            {% csrf_token %}
            Readable
            <input type="checkbox" name="human" id="human">
            Length
            <input type="range" id="length" name="length" min="3" max="8" />
            Divider
            <select name="div" id="div">
                <option value="_" selected>underscore</option>
                <option value="-">hyphen</option>
                <option value=".">period</option>
            </select>
            Numbers
            <input type="checkbox" name="nums" id="nums">
            Capitalised
            <input type="checkbox" name="caps" id="caps">
            <input name="generate_password" type="submit" value="Generate" required>
        </form>
    </div>  

    <!-- FORM TO ADD PASSWORD TO DB 
         THIS IS FOR DEBUGGING -->
    <div id="add_password_div">
        <h3>Add Password</h3>
        <form method="POST" action="", id="add_password_form">
            {% csrf_token %}
            Name
            <input type="text" name="name" autofocus placeholder="Name">
            URL
            <input type="text" type="url" name="url" placeholder="URL">
            Username
            <input type="text" name="username" placeholder="Username">
            Password
        {% if generated_password %}
            <input type="text" name="password" value="{{ generated_password }}" placeholder="Generated Password">
        {% else %}
            <input type="text" name="password" placeholder="Password">
        {% endif %}
            Tags
            <select name="tags" id="tags">
                <option value="">None</option>
                <option value="blue">Blue</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="purple">Purple</option>
            </select>
            <input type="text" name="comment" placeholder="Comment">
            <input name="submit_password" type="submit" value="Add Password" required>
        </form>
    </div>
</div>
{% endblock %}
