{% extends "password/layout.html" %}

{% block body %}

<h1>Passwords</h1>
<div name="index_div">
    <form method="POST" action="", id="password_generator">
        {% csrf_token %}
        Password
        {{ password_form.password }}
        Numbers
        {{ password_form.numbers }}
        Caps
        {{ password_form.caps }}
        <input name="submit_password" type="submit" value="Add Password" required></submit>
    </form>
    <h3>Password</h3>
    <p>{{ password }}</p>
</div>
<div>
    <h3>DEBUG</h3>
    <p>Username: {{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
</div>

{% endblock %}
