{% extends "password/layout.html" %}

{% block body %}

<h1>Project Key</h1>
<div name="reg_div">
    <h3>Register</h3>
    <form method="POST" action="">
        <!--csrf_token is for data encryption. https://docs.djangoproject.com/en/4.2/ref/csrf/ -->
        {% csrf_token %}
        {{ reg_form.username }}
        {{ reg_form.email }}
        {{ reg_form.password1 }}
        {{ reg_form.password2 }}
        <input type="submit" name="create_user">
        {{ reg_form.errors }}
    </form>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Username';
        form_fields[2].placeholder = 'Email';
        form_fields[3].placeholder = 'Password';
        form_fields[4].placeholder = 'Verify';
    </script>
</div>
{% endblock %}
