{% extends "password/layout.html" %}

{% block body %}

<h1>Project Key</h1>
<div name="reg_div">
    <h3>Register</h3>
    <input name="username" autofocus placeholder="Username">
    <input name="email" autofocus placeholder="Email">
    <input name="password" type="password" autofocus placeholder="Password" required>
    <input name="password_verify" type="password" autofocus placeholder="Verify" required>
    <input name="register" type="submit" value="Register" required></submit>
</div>
{% endblock %}
